#
# Copyright (C) 2023 PixysOS
#
# SPDX-License-Identifier: Apache-2.0
#
on init
    # Thermal
    chown root system /sys/class/thermal/thermal_zone94/mode
    chown root system /sys/class/thermal/thermal_zone95/mode
    chmod 0664 /sys/class/thermal/thermal_zone94/mode
    chmod 0664 /sys/class/thermal/thermal_zone95/mode

on fs
    # tfa98xx
    chmod 666 /sys/bus/i2c/devices/1-0034/reg
    chmod 666 /sys/bus/i2c/devices/1-0034/rw
    chmod 666 /sys/bus/i2c/devices/1-0035/reg
    chmod 666 /sys/bus/i2c/devices/1-0035/rw
    chmod 666 /sys/kernel/debug/tfa98xx-34/rpc
    chmod 666 /sys/kernel/debug/tfa98xx-35/rpc
    chmod 666 /proc/tfa98xx-34/rpc
    chmod 666 /proc/tfa98xx-35/rpc
    chmod 666 /sys/class/qcom-haptics/lra_calibration
    chmod 666 /sys/class/qcom-haptics/lra_frequency_hz
    chmod 666 /sys/class/qcom-haptics/lra_impedance
    chown system system /sys/class/qcom-haptics/lra_calibration
    chown system system /sys/class/qcom-haptics/lra_frequency_hz
    chown system system /sys/class/qcom-haptics/lra_impedance

    # Fingerprint
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/fod_ui
    chown system system /dev/goodix_fp
    chmod 666 /dev/goodix_fp

on boot

    # Display
    chown system system /sys/class/drm/sde-conn-1-DSI-1/panel_id
    chmod 0600 /sys/class/drm/sde-conn-1-DSI-1/panel_id

    # Display (hbm)
    chown system system /sys/class/drm/sde-conn-1-DSI-1/hbm_mode
    chmod 0666 /sys/class/drm/sde-conn-1-DSI-1/hbm_mode

    # Disable slowcharging 
    write /sys/class/qcom-battery/slowcharge_en 0

    # Gestures
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_edge_mode
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gesture_mode
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gestures
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gesture_double_tap_pressed
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gesture_fod_pressed
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gesture_single_tap_pressed

    # Glyph
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/all_leds_effect
    chmod 0666 /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/all_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/all_white_leds_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/glo_current
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/rear_cam_led_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/front_cam_led_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/horse_race_leds_br
    chmod 0666 /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/horse_race_leds_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/round_leds_br
    chmod 0666 /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/round_leds_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/single_led_br
    chmod 0666 /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/single_led_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/round_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/horse_race_leds
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/wired_charging_leds
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/random_delay
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/random_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/keybd_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/wlr_charging_leds
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/video_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/ga_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/nf_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/bootan_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/rear_cam_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/music_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/ringtone_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/flip_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/exclamation_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/setting_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/setting_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/vline_leds_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/dot_led_br

    # Hung_task
    write /proc/sys/kernel/hung_task_timeout_secs 180
    write /proc/sys/kernel/hung_task_warnings 10
    write /proc/sys/kernel/hung_task_check_count 32768
    write /proc/sys/kernel/hung_task_panic 1
    write /proc/sys/kernel/hung_task_check_interval_secs 0
    write /proc/sys/kernel/hung_task_selective_monitoring 0

on post-fs-data
    # Goodix
    mkdir /data/vendor/goodix 0700 system system

    # Nothing camera
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/camera 0777 cameraserver cameraserver
    mkdir /data/vendor/camera 0775 camera camera
    copy /mnt/vendor/persist/camera/bokeh_caldata_uw_persist.bin /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chmod 0444 /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chown cameraserver audio /data/vendor/camera/bokeh_caldata_uw_persist.bin
    copy /mnt/vendor/persist/camera/ois_caldata_wide_persist.bin /data/vendor/camera/ois_caldata_wide_persist.bin
    chmod 0444 /data/vendor/camera/ois_caldata_wide_persist.bin
    chown cameraserver audio /data/vendor/camera/ois_caldata_wide_persist.bin

    # Nfc  
    chmod 0660 /dev/pn553
    chown nfc nfc /dev/pn553
    mkdir /data/vendor/nfc 0777 nfc nfc
    mkdir /data/vendor/nfc/param 0777 nfc nfc

    # Disable zram readahead
    write /proc/sys/vm/page-cluster 0
    # Override readahead to 2MiB during boot
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048
    write /sys/block/dm-3/queue/read_ahead_kb 2048
    write /sys/block/dm-4/queue/read_ahead_kb 2048
    write /sys/block/dm-5/queue/read_ahead_kb 2048
    write /sys/block/dm-6/queue/read_ahead_kb 2048
    write /sys/block/dm-7/queue/read_ahead_kb 2048
    write /sys/block/dm-8/queue/read_ahead_kb 2048
    write /sys/block/dm-9/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sdb/queue/read_ahead_kb 2048
    write /sys/block/sdc/queue/read_ahead_kb 2048
    write /sys/block/sdd/queue/read_ahead_kb 2048
    write /sys/block/sde/queue/read_ahead_kb 2048
    write /sys/block/sdf/queue/read_ahead_kb 2048

on property:vendor.post_boot.parsed=1
    # Set cpuset audio-app
    write /dev/cpuset/audio-app/cpus 1-2
    # Set restricted cpuset to the same CPUs as system-background
    copy /dev/cpuset/system-background/cpus /dev/cpuset/restricted/cpus
    # Reset readahead to 128KiB
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128
    write /sys/block/dm-6/queue/read_ahead_kb 128
    write /sys/block/dm-7/queue/read_ahead_kb 128
    write /sys/block/dm-8/queue/read_ahead_kb 128
    write /sys/block/dm-9/queue/read_ahead_kb 128
    write /sys/block/dm-10/queue/read_ahead_kb 128
    write /sys/block/dm-11/queue/read_ahead_kb 128
    write /sys/block/dm-12/queue/read_ahead_kb 128
    write /sys/block/dm-13/queue/read_ahead_kb 128
    write /sys/block/dm-14/queue/read_ahead_kb 128
    write /sys/block/dm-15/queue/read_ahead_kb 128
    write /sys/block/dm-16/queue/read_ahead_kb 128
    write /sys/block/dm-17/queue/read_ahead_kb 128
    write /sys/block/dm-18/queue/read_ahead_kb 128
    write /sys/block/dm-19/queue/read_ahead_kb 128
    write /sys/block/dm-20/queue/read_ahead_kb 128
    write /sys/block/dm-21/queue/read_ahead_kb 128
    write /sys/block/dm-22/queue/read_ahead_kb 128
    write /sys/block/dm-23/queue/read_ahead_kb 128
    write /sys/block/dm-24/queue/read_ahead_kb 128
    write /sys/block/dm-25/queue/read_ahead_kb 128
    write /sys/block/dm-26/queue/read_ahead_kb 128
    write /sys/block/dm-27/queue/read_ahead_kb 128
    write /sys/block/dm-28/queue/read_ahead_kb 128
    write /sys/block/dm-29/queue/read_ahead_kb 128
    write /sys/block/dm-30/queue/read_ahead_kb 128
    write /sys/block/dm-31/queue/read_ahead_kb 128
    write /sys/block/dm-32/queue/read_ahead_kb 128
    write /sys/block/dm-33/queue/read_ahead_kb 128
    write /sys/block/dm-34/queue/read_ahead_kb 128
    write /sys/block/dm-35/queue/read_ahead_kb 128
    write /sys/block/dm-36/queue/read_ahead_kb 128
    write /sys/block/dm-37/queue/read_ahead_kb 128
    write /sys/block/dm-38/queue/read_ahead_kb 128
    write /sys/block/dm-39/queue/read_ahead_kb 128
    write /sys/block/dm-40/queue/read_ahead_kb 128
    write /sys/block/dm-41/queue/read_ahead_kb 128
    write /sys/block/dm-42/queue/read_ahead_kb 128
    write /sys/block/dm-43/queue/read_ahead_kb 128
    write /sys/block/dm-44/queue/read_ahead_kb 128
    write /sys/block/dm-45/queue/read_ahead_kb 128
    write /sys/block/dm-46/queue/read_ahead_kb 128
    write /sys/block/dm-47/queue/read_ahead_kb 128
    write /sys/block/dm-48/queue/read_ahead_kb 128
    write /sys/block/dm-49/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sdb/queue/read_ahead_kb 128
    write /sys/block/sdc/queue/read_ahead_kb 128
    write /sys/block/sdd/queue/read_ahead_kb 128
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/read_ahead_kb 128

on property:ro.board.platform=lahaina && property:vendor.post_boot.parsed=1
    # Setup foreground cpuset for display composer.
    write /dev/cpuset/foreground/cpus 0-6

on property:service.bootanim.exit=0
    # Boot led effect placeholder
   write /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/bootan_leds_effect 1

on property:service.bootanim.exit=1
    # Boot led effect placeholder
    write /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/bootan_leds_effect 0
    # Wireless Charging
    chown system system /sys/class/qcom-battery/wireless_boost_en
    chmod 0666 /sys/class/qcom-battery/wireless_boost_en
    chmod 0666 /sys/class/qcom-battery/wls_st38_reg
    chmod 0666 /sys/class/qcom-battery/wls_reverse_status
    chown system system /sys/class/qcom-battery/charge_power
    chown system system /sys/class/qcom-battery/wls_st38_en

on property:sys.boot_completed=1
    # Health
    restart health-hal-2-1
